// Fonts
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;600&display=swap');

@font-face {
  font-family: GoodBrush;
  src: url(../fonts/Good\ Brush.ttf);
}

// Colours
$teal: #04BF9D;
$darkTeal: #00ab8c;
$lightTeal: #00ffd0;
$lightBrown: #D99F6C;
$mediumBrown: #A6633C;
$darkBrown: #40261D;
$lightGrey: #F2F2F2;
$textColor: #030201;

// General styling
html,
body {
  margin: 0;
  padding: 0;
  font-family: Mukta;
  font-size: 20px;
  background-color: $lightGrey;

  #textBox {
    // Colours
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    // Border
    border: solid 2px $darkBrown;
    border-radius: 10px;
  }

  .centeredText {
    text-align: center;
    font-weight: bold;
  }

  #BrushFont {
    font-family: GoodBrush;
    color: $lightTeal;
  }
}

@media (max-width: 1023px) { // FIX!!!
  main {
    #container {
      width: 100%;
      height: 100vh;
      position: relative;

      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position: absolute;
      }

      #textBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        font-size: 0.8em;
        padding: 0.5rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  main {
    #container {
      height: 100vh;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill
      }

      #textBox {
        // Position
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // Other stuff
        max-width: 700px;

        p,
        h2 {
          margin: 10px;
        }
      }
    }
  }
}