// Fonts
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;600&display=swap');

@font-face {
    font-family: GoodBrush;
    src: url(../fonts/Good\ Brush.ttf);
}

// Colours
$teal: #04BF9D;
$darkTeal: #00ab8c;
$lightTeal: #00ffd0;
$lightBrown: #D99F6C;
$mediumBrown: #A6633C;
$darkBrown: #40261D;
$lightGrey: #F2F2F2;
$textColor: #030201;

// Small screen / mobile styling
@media (max-width: 425px) {
    nav {
        font-size: 10px;

        #navImg {
            width: 3rem;
        }
    }
}

// Bigger screen styling
@media (min-width: 425px) {
    nav {
        font-size: 15px;

        #navImg {
            width: 5rem;
        }
    }
}

// Regular styling
nav {
    width: 100%;
    background-color: $darkBrown;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            text-align: center;
            list-style: none;
            margin: 0.5rem;
            transition-duration: 0.5s;

            &:hover {
                background-color: white;
                border-radius: 5px;
                padding: 0.5rem;
            }

            a {
                font-family: Mukta;
                text-decoration: none;
                color: white;
                padding: 1px;

                &:hover {
                    color: #000;
                    transition-duration: 0.5s;
                }
            }
        }        
    }
}