main {
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        margin: 3rem;

        .button-subcontainer {
            width: 100%;
            max-width: 1200px;
            align-items: center;
            border-radius: 0.5rem;
            text-align: center;

            .button-Linkcontainer {

                margin-top: 1rem;
                margin-bottom: 1rem;

                .menu,
                .reservation {
                    border-radius: 0.5rem;
                    height: 2.5rem;
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                    padding: 0.5rem;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}