@font-face {
  font-family: myFirstFont;
  src: url(sensation_light.woff);
}
div {
  font-family: myFirstFont;
}
.displayblock {
    display: block;
  }
  
  .block {
    margin-left: 5vw;
    margin-top: 5vh;
    padding: 2rem 2.5rem;
    width: 30vw;
    height: 50vh;
    background-color: #cf9d64;
    overflow: visible;
    border-radius: 45px;
    text-align: center;
  }
  
  .header {
    margin-left: 0vw;
    margin-top: -1vh;
    padding: 2rem 2.5rem;
    width: 100vw;
    height: 15vh;
    background-color: #60c9ad;
    overflow: visible;
    text-align: center;
  }
  
  .logo {
    img {
      margin-left: -90vw;
      margin-top: -2vh;
      width: auto;
      height: 10vh;
      overflow: visible;
      border-radius: 45px;
      text-align: center;
    }
  }
  
  .navbar {
    overflow: hidden;
    margin-top: -10.5vh;
    margin-left: 8vw;
  
    a {
      float: left;
      display: block;
      color: #313131;
      background-color: #d9d9d9;
      text-align: center;
      padding: 2.5vh 2vw;
      text-decoration: none;
      margin-right: 1vw;
      border-radius: 10px;
  
      &:hover {
        background-color: #efefef;
      }
    }
  }
  
  .login {
    overflow: hidden;
    margin-top: -8vh;
    margin-left: 0vw;
  
    a {
      float: right;
      display: block;
      color: #d5cfcd;
      background-color: #3e261c;
      text-align: center;
      padding: 1vh 0.5vw;
      text-decoration: none;
      margin-right: 1vw;
      border-radius: 10px;
  
      &:hover {
        background-color: #58392c;
      }
    }
  }
  
  .linkimages {
    margin-bottom: -5vh;
    margin-left: 45vw;
    width: 5vw;
    height: 5vh;
    overflow: visible;
  }
  
  #twitter-image {
    width: 5vw;
    margin-left: 0vw;
    margin-bottom: -10vh;
  }
  
  #instagram-image {
    width: 5vw;
    margin-left: 5vw;
    margin-bottom: -5vh;
  }
  
  #rocam-logo {
    height: 10vh;
    margin-left: -2vw;
    margin-top: -2vh;
  }
  .blockrow {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 10rem;
  }
  @media screen and (max-width: 430px) {
    
  }